<%- include('../partials/header') %> 

<div class="container login h-100">
    <div class="row h-100 d-flex align-items-center">
        <div class="col-md-4 m-auto">
            <div class="card card-body bg-light">
                <h2 class="mb-4 text-center">Login Form</h2>
                <form>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>

                    <button type="submit" class="btn btn-primary mb-4 w-25">Submit</button>

                    <div class="text-center">
                        <p>Don't have an account? <a class="login-he" href="">Create account</a></p>
                    </div>
                    
                  </form>
            </div>
        </div>
    </div>
</div>
  




<%- include('../partials/footer') %> 