<%- include('../partials/header') %> 
<%- include('../partials/navbar') %> 

<div class="container h-75">
    <div class="row h-100 d-flex align-items-center">
        <div class="col-md-4 m-auto">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Books</h5>
                    <p class="card-text">Manage data of the books.</p>
                    <a href="/admin/book" class="btn btn-primary w-25">Go</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 m-auto">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Authors</h5>
                  <p class="card-text">Manage the data of the authors.</p>
                  <a href="/admin/author" class="btn btn-primary w-25">Go</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 m-auto">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Publishers</h5>
                  <p class="card-text">Manage data of the publishers.</p>
                  <a href="/admin/publisher" class="btn btn-primary w-25">Go</a>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %> 