<%- include('../../partials/header') %> 
<%- include('../../partials/navbar') %>

<div class="container mt-5">
    <h2 class="mb-4">Add new role</h2>

    <form action="/admin/role/" method="POST">
        <div class="mb-3 col-md-4">
          <label for="name" class="form-label">Name</label>
          <input name="name" type="text" class="form-control" id="name">
          <% if (typeof errorMessage != 'undefined') { %> 
            <p style="color: red;"><%= errorMessage %> </p>
          <% } %> 
        </div>

        <div class="mb-4">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

<%- include('../../partials/footer') %>