<%- include('../../partials/header') %> 
<%- include('../../partials/navbar') %>

<div class="container mt-5">
    <h2 class="mb-4">Add new menu</h2>

    <form action="/admin/menu/" method="POST">
        <div class="mb-3 col-md-4">
          <label for="name" class="form-label">Name</label>
          <input name="name" type="text" class="form-control" id="name" required>
        </div>

        <div class="mb-3 col-md-4">
          <label for="text" class="form-label">Text</label>
          <input name="text" type="text" class="form-control" id="text" required>
        </div>

        <div class="mb-3 col-md-4">
          <label for="path" class="form-label">Path</label>
          <input name="path" type="text" class="form-control" id="path" required> 
        </div>

        <div class="mb-3 col-md-4">
          <label for="logo" class="form-label">Logo</label>
          <input name="logo" type="text" class="form-control" id="logo" required> 
        </div>

        <div class="mb-4">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
</div>

<%- include('../../partials/footer') %>